/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    height: 27em;
  }
  
  /*center text*/
  h1, h2, h3, p, li, .input{
    text-align: center;
    display: block;
    /* border: 2px solid black; */
  }
  
  .instructions {
    padding: 0 9em 9em 9em;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  body {
    background: #f2f2f2;
  }
  